    <aside>
      <ul>
        <li data-title="Головна" class="hidden"><a href="index.html"><i aria-hidden="true" class="fa fa-home"></i></a></li>
        <li data-title="Портфоліо" class="hidden"><a href="portfolio.html"><i aria-hidden="true" class="fa fa-picture-o"></i></a></li>
        <li data-title="Про_мене" class="hidden"><a href="about.html"><i aria-hidden="true" class="fa fa-user"></i></a></li>
        <li data-title="Вакулин_Роман"><a href="#"><i aria-hidden="true" class="fa fa-skype"></i></a></li>
        <li data-title="facebook.com/roma.vakulin.73"><a href="https://www.facebook.com/roma.vakulin.73"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
        <li data-title="plus.google.com/u/0/111874871081215792846/"><a href="https://plus.google.com/u/0/111874871081215792846/posts"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
        <li data-title="vk.com/4Slem"><a href="http://vk.com/4Slem"><i aria-hidden="true" class="fa fa-vk"></i></a></li>
        <li data-title="GitHub.com/4Slem"><a href="https://github.com/4Slem"><i aria-hidden="true" class="fa fa-github"></i></a></li>
      </ul>
    </aside>